@charset "UTF-8";
#zoekwoorden {
    margin-left : auto;
    margin-right : 10%;
    width : 100px;
    background-color : #FFFFFF;
    float: right;
    
}
body {
    margin : 0;
    padding : 0;
    background-color : #FFFFFF;
    font-family: Verdana,sans-serif;
}
table, td {
    border-collapse: collapse;
    background-color:#FFFFFF ;
    margin : auto;
}
td {
    padding: 1px;
    text-align: center;
    font-size : 1.5em;
    width: 31px;
}
table{
    border: 2px solid black;
    height: auto;
    margin-left : auto;
    float: left;
    align: center;
    
}
#tabel { 
    padding : 20px;
    width : 80%;
    height : auto;
    background-color : #FFFFFF;
    margin : auto;
    margin-top: 25px;
    
   
  
}
div {
    text-align: center;
}
td.blauw{
    color: orange;
}
#boven{
    width: 100%;
    height: 70px;
    background-color : grey;
    color: white;
    text-align: center;
    font-size: 3em;
}